body{
	background-image: url("sprinkles_@2x.png");
}

.shoppingList {
	border: solid;
	border-width: thin;
	border-radius: 10px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

div.shoppingList .newItem{
	width: 25%;
	margin-right: auto;
	margin-left: auto;
	text-transform: capitalize;
	font-size: 18px;
}

.removeItem{
	text-decoration:line-through; 
}